<div class="ui-post ui-post-instagram">
  <div class="ui-post-header">
    <div class="ui-avatar">
      <button type="button" class="ui-button-icon ui-brands-instagram-gradient">
        <i class="fab fa-instagram"></i>
      </button>
      <div class="ui-avatar-content">
        <span>Steve Jamerson</span>
      </div>
    </div>
  </div>
  <div class="ui-post-body ui-flex-direction-column">
    <img src="./../assets/images/post.png" alt="" />
  </div>
  <div class="ui-post-footer">
    <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
    <i class="far fa-bookmark"></i>
    <span class="ui-post-footer-text"
      >Aqui vai o texto descritivo desse post</span
    >
  </div>
</div>
