<div class="calendar">
  <div class="calendar-header">
    <i class="fas fa-chevron-left ui-margin-0"
      (click)="change(-1)"></i>
    <label class="calendar-month"> {{ MONTHS[month] }} {{ year }}</label>
    <i class="fas fa-chevron-right ui-margin-0"
      (click)="change(1)"
    ></i>
    <span *ngFor="let d of DAYS">{{ d }}</span>
  </div>
  <div class="calendar-body">
    <button
      type="button"
      *ngFor="let dt of DAYS_TABLE; let i = index;"
      class="calendar-body-button"
      [class.today]="(dt == TODAY) && (month == MONTH)"
      [class.active]="(dt == dateActive) && (month == monthActive)"
      (click)="select(dt)"

      [disabled]="!type(dt)" >{{ dt }}</button>
  </div>
  <div class="calendar-footer">
    <span (click)="reset(-1)">Ontem</span>
    <span (click)="reset(0)">Hoje</span>
    <span (click)="reset(1)">Amanhã</span>
  </div>
</div>
