<div
  class="ui-table-responsive"
  #table
  (mousemove)="
    this.scrollService.scrolling
      ? this.scrollService.mousemove($event, table)
      : ''
  "
  (mousedown)="this.scrollService.mousedown($event)"
  (mouseup)="this.scrollService.mouseup($event)"
>
  <table class="ui-table">
    <thead>
      <tr>
        <th scope="col">Redes sociais</th>
        <th scope="col">Mídia</th>
        <th scope="col">Texto</th>
        <th scope="col">Ações</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of schedulingList; let i = index">
        <th>
          <a href="/agendamento">
            <button
              type="button"
              *ngFor="let media of post.social"
              href="/agendamento"
              [class]="
                'ui-button-icon ui-gradient-bg ui-brands-' +
                media.name.toLocaleLowerCase() +
                '-bg'
              "
            >
              <i [class]="'fab fa-' + media.icon"></i>
            </button>
          </a>
        </th>
        <td>
          <img [src]="post.image" alt="" />
        </td>
        <td>
          {{ post.texto }}
        </td>
        <td>
          <span
            id="linkPreview"
            class="link"
            (click)="popperService.toggle('#linkPreview', '#preview', 'bottom')"
            >Preview</span
          >
        </td>
        <td>
          <span [class]="'ui-status ui-status-' + post.status.color">
            {{ post.status.name }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="preview" class="ui-popper">
  <div class="ui-card ui-post-preview ui-post-preview-table">
    <div class="ui-card-header">Visualização do post</div>
    <div class="ui-card-body">
      <div class="ui-scroll">
        <div
          class="ui-scroll-content"
          #scroll
          (mousemove)="
            this.scrollService.scrolling
              ? this.scrollService.mousemove($event, scroll)
              : ''
          "
          (mousedown)="this.scrollService.mousedown($event)"
          (mouseup)="this.scrollService.mouseup($event)"
        >
          <div
            class="ui-scroll-item"
            *ngFor="let post of schedulingList[0].social"
          >
            <app-instagram *ngIf="post.name == 'Instagram'"></app-instagram>
            <app-linkedin *ngIf="post.name == 'Linkedin'"></app-linkedin>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
