<div class="ui-scroll">
  <div class="ui-scroll__content" #scroll>
    <div class="ui-scroll__item">
      <div class="ui-post ui-post-instagram" id="">
        <div class="ui-post__header">
          <div class="ui-avatar">
            <button class="ui-button-icon ui-brands-instagram-gradient">
              <i class="fab fa-instagram"></i>
            </button>
            <div class="ui-avatar__content">
              <span>Steve Jamerson</span>
            </div>
          </div>
        </div>
        <div class="ui-post__body ui-flex-direction-column">
          <img src="./../assets/images/post.png" alt="" />
        </div>
        <div class="ui-post__footer">
          <i class="far fa-heart"></i>
          <i class="far fa-comment"></i>
          <i class="far fa-bookmark"></i>
          <span class="ui-post__footer__text"
            >Aqui vai o texto descritivo desse post</span
          >
        </div>
      </div>
    </div>
    <div class="ui-scroll__item">
      <div class="ui-post ui-post-linkedin" id="">
        <div class="ui-post__header">
          <div class="ui-avatar">
            <button class="ui-button-icon ui-brands-linkedin-bg">
              <i class="fab fa-linkedin"></i>
            </button>
            <div class="ui-avatar__content">
              <span>Steve Jamerson</span>
              <small>06 de Setembro</small>
            </div>
          </div>
        </div>
        <div class="ui-post__body ui-flex-direction-column">
          <span class="ui-post__footer__text"
            >Aqui vai o texto descritivo desse post</span
          >
          <img src="./../assets/images/post.png" alt="" />
        </div>
        <div class="ui-post__footer">
          <small class="ui-post__footer__label">5 comentários</small>
          <i class="far fa-thumbs-up"></i>
          <i class="far fa-comment-alt"></i>
          <i class="fas fa-reply"></i>
        </div>
      </div>
    </div>
  </div>
</div>
