<div class="ui-scroll">
  <div class="ui-scroll-content" #scroll>
    <ng-container *ngIf="dataLoop.social.length > 0 && dataLoop.image != ''; else noPost">
    <div class="ui-scroll-item" *ngFor="let post of dataLoop.social" >
      <div class="ui-post ui-post-linkedin" *ngIf="post.name == 'Linkedin'">
        <div class="ui-post-header">
          <div class="ui-avatar">
            <button class="ui-button-icon ui-brands-linkedin-bg">
              <i class="fab fa-linkedin"></i>
            </button>
            <div class="ui-avatar-content">
              <span>Steve Jamerson</span>
              <small>06 de Setembro</small>
            </div>
          </div>
        </div>
        <div class="ui-post-body ui-flex-direction-column">
          <span class="ui-post-footer-text"
            >Aqui vai o texto descritivo desse post</span
          >
          <img src="./../assets/images/post.png" alt="" />
        </div>
        <div class="ui-post-footer">
          <small class="ui-post-footer-label">5 comentários</small>
          <i class="far fa-thumbs-up"></i>
          <i class="far fa-comment-alt"></i>
          <i class="fas fa-reply"></i>
        </div>
      </div>
      <div class="ui-post ui-post-instagram" *ngIf="post.name == 'Instagram'">
        <div class="ui-post-header">
          <div class="ui-avatar">
            <button class="ui-button-icon ui-brands-instagram-gradient">
              <i class="fab fa-instagram"></i>
            </button>
            <div class="ui-avatar-content">
              <span>Steve Jamerson</span>
            </div>
          </div>
        </div>
        <div class="ui-post-body ui-flex-direction-column">
          <img src="./../assets/images/post.png" alt="" />
        </div>
        <div class="ui-post-footer">
          <i class="far fa-heart"></i>
          <i class="far fa-comment"></i>
          <i class="far fa-bookmark"></i>
          <span class="ui-post-footer-text"
            >Aqui vai o texto descritivo desse post</span
          >
        </div>
      </div>
    </div>
  </ng-container>
  </div>
</div>
<ng-template #noPost>
  <div class="ui-post-none">
    <label
      >Aguardando conteúdo. Informe os canais e as mídias desejadas para
      visualização.</label
    >
    <img src="./../assets/images/post-preview-none.png" alt="" />
  </div>
</ng-template>
