<app-container [agendar]="formValid">
  <form [formGroup]="formScheduling" class="grid-agendamento">
    <div class="ui-card grid-agendamento__redes" id="">
      <div class="ui-card__header">
        <label for="">Redes sociais</label>
      </div>
      <div class="ui-card__body">
        <app-social-midia
          [brands]="this.formScheduling.get('social').value"
          (social)="socialEvent($event)"
        ></app-social-midia>
      </div>
    </div>
    <div class="ui-card grid-agendamento__data" id="" formGroupName="date_time">
      <div class="ui-card__header">
        <label for="">Data de publicação</label>
      </div>
      <div class="ui-card__body">
        <input
          #data
          type="text"
          pattern="^([0-2]?[0-9]|3[0-1])/([0]?[0-9]|1[0-2])/(20[0-9]{2})$"
          mask="00/00/0000"
          placeholder="DD/MM/AAAA"
          class="ui-form"
          (click)="
            popperService.toggle(
              '.grid-agendamento__data',
              '#calendar',
              'bottom'
            )
          "
          formControlName="date"
        />
        <input type="time" class="ui-form" formControlName="time" />
      </div>
    </div>
    <div class="ui-card grid-agendamento__post" id="">
      <div class="ui-card__header">
        <label for="">Texto do post</label>
      </div>
      <div class="ui-card__body">
        <div class="ui-text-post">
          <textarea
            #textPost
            type="text"
            class="ui-form"
            placeholder="Aqui vai o texto descritivo desse post"
            rows="4"
            formControlName="text"
          ></textarea>
          <button
            class="ui-button"
            id="buttonEmoji"
            (click)="popperService.toggle('#buttonEmoji', '#emoji', 'bottom')"
          >
            <i class="far fa-smile"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="ui-card grid-agendamento__upload" id="">
      <div class="ui-card__header">
        <label for="">Upload de imagem</label>
      </div>
      <div class="ui-card__body">
        <app-upload-image
          [upload]=""
          (outUpload)="outUpload($event)"
        ></app-upload-image>
      </div>
    </div>
    <div class="ui-card ui-post-preview grid-agendamento__preview">
      <div class="ui-card__header">Visualização do post</div>
      <div class="ui-card__body">
        <app-posts [data]="formScheduling"></app-posts>
      </div>
    </div>
    <div class="grid-agendamento__preview__button">
      <button
        type="button"
        class="ui-button ui-button-secondary ui-button-lg ui-button-full"
      >
        Visualizar post
      </button>
    </div>
  </form>
  <app-calendar
    class="ui-popper"
    id="calendar"
    [inputDate]="data"
    (selectDate)="
      date_time
        .get('date')
        .setValue($event.toJSON().slice(0, 10).split('-').reverse().join('/'))
    "
  ></app-calendar>
  <app-emoji [textarea]="textPost" (selectEmoji)="formScheduling.get('text').setValue(formScheduling.get('text').value + $event.alt)" id="emoji" class="ui-popper"></app-emoji>

  <div class="ui-modal" id="modal">
    <div class="ui-modal__content">
      <div class="ui-modal__header"></div>
      <div class="ui-modal__body">
        <img
          src="./../assets/images/Screenshot from 2020-09-11 13-17-02 1.png"
          alt=""
        />
        <span>Agendado com sucesso!</span>
      </div>
      <div class="ui-modal__footer">
        <button
          class="ui-button ui-button-primary ui-button-lg"
          routerLink="/agendamento/lista"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</app-container>
