<app-container [agendar]="formValid">
  <!-- FORM -->
  <form
    [formGroup]="formScheduling"
    class="grid-agendamento"
    (submit)="$event.preventDefault()"
  >
    <section class="ui-card grid-agendamento-redes" id="">
      <div class="ui-card-header">
        <label for="">Redes sociais</label>
      </div>
      <div class="ui-card-body">
        <app-social-midia
          [brands]="this.formScheduling.get('social').value"
          (social)="socialEvent($event)"
        ></app-social-midia>
      </div>
    </section>
    <section
      class="ui-card grid-agendamento-data"
      id=""
      formGroupName="date_time"
    >
      <div class="ui-card-header">
        <label for="">Data de publicação</label>
      </div>
      <div class="ui-card-body">
        <!-- O campo de data deverá respeitar o formato "DD/MM/AAAA" -->
        <input
          #data
          type="text"
          pattern="^([0-2]?[0-9]|3[0-1])/([0]?[0-9]|1[0-2])/(20[0-9]{2})$"
          mask="00/00/0000"
          placeholder="DD/MM/AAAA"
          class="ui-form"
          (click)="
            popperService.toggle(
              '.grid-agendamento-data',
              '#calendar',
              'bottom'
            )
          "
          formControlName="date"
          inputmode="numeric"
        />
        <!-- O campo de hora deverá respeitar o formato "HH:MM" -->
        <input
          type="text"
          placeholder="HH:MM"
          mask="00:00"
          pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
          class="ui-form"
          formControlName="time"
          inputmode="numeric"
        />
      </div>
    </section>
    <section class="ui-card grid-agendamento-post" id="">
      <div class="ui-card-header">
        <label for="">Texto do post</label>
      </div>
      <div class="ui-card-body">
        <div class="ui-text-post">
          <textarea
            #textPost
            type="text"
            class="ui-form"
            placeholder="Aqui vai o texto descritivo desse post"
            rows="4"
            formControlName="text"
          ></textarea>
          <button
            type="button"
            class="ui-button"
            id="buttonEmoji"
            (click)="popperService.toggle('#buttonEmoji', '#emoji', 'bottom')"
          >
            <i class="far fa-smile"></i>
          </button>
        </div>
      </div>
    </section>
    <!-- Fazer upload de somente 1 imagem -->
    <section class="ui-card grid-agendamento-upload" id="">
      <div class="ui-card-header">
        <label for="">Upload de imagem</label>
      </div>
      <div class="ui-card-body">
        <app-upload-image
          [upload]=""
          (outUpload)="uploadEvent($event)"
        ></app-upload-image>
      </div>
    </section>
    <!-- Ao selecionar a rede social, deverá aparecer uma simulação de como ficará esse post na área "Visualização do post" -->
    <section class="ui-card ui-post-preview grid-agendamento-preview">
      <div class="ui-card-header">Visualização do post</div>
      <div class="ui-card-body">
        <div class="ui-scroll">
          <div
            class="ui-scroll-content"
            #scrollPost
            (mousemove)="
              this.scrollService.scrolling
                ? this.scrollService.mousemove($event, scrollPost)
                : ''
            "
            (mousedown)="this.scrollService.mousedown($event)"
            (mouseup)="this.scrollService.mouseup($event)"
          >
            <ng-container
              *ngIf="
                preview.social.length > 0 &&
                  formScheduling.get('image').value != '';
                else noPost
              "
            >
              <div class="ui-scroll-item" *ngFor="let post of preview.social">
                <app-instagram *ngIf="post.name == 'Instagram'"></app-instagram>
                <app-linkedin *ngIf="post.name == 'Linkedin'"></app-linkedin>
              </div>
            </ng-container>

            <ng-template #noPost>
              <div class="ui-post-none">
                <label
                  >Aguardando conteúdo. Informe os canais e as mídias desejadas
                  para visualização.</label
                >
                <img src="./../assets/images/post-preview-none.png" alt="" />
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </section>
    <!-- Enquanto não houver uma rede social, data e hora selecionadas o botão "Agendar" deverá estar desabilitado -->
    <section class="grid-agendamento-preview-button">
      <button
        type="button"
        class="ui-button ui-button-secondary ui-button-lg ui-button-full"
        (click)="modalService.toggle('#preview')"
        [disabled]="!(formScheduling.get('image').value != '' && socialValid)"
      >
        Visualizar post
      </button>
    </section>
  </form>

  <!-- POPPERS -->
  <app-calendar
    class="ui-popper"
    id="calendar"
    [inputDate]="data"
    (selectDate)="
      date_time
        .get('date')
        .setValue($event.toJSON().slice(0, 10).split('-').reverse().join('/'))
    "
  ></app-calendar>
  <app-emoji
    [textarea]="textPost"
    (selectEmoji)="
      formScheduling
        .get('text')
        .setValue(formScheduling.get('text').value + $event.alt)
    "
    id="emoji"
    class="ui-popper"
  ></app-emoji>

  <!-- MODALS -->
  <div class="ui-modal ui-modal-scroll" tabindex="-1" id="preview">
    <div class="ui-modal-dialog">
      <div class="ui-modal-content ui-modal-auto">
        <div class="ui-modal-header">
          <span>Visualização do post</span>
          <i class="fas fa-times" (click)="modalService.hide('#preview')"></i>
        </div>
        <div class="ui-modal-body ui-modal-body-center">
          <div class="ui-scroll">
            <div class="ui-scroll-content" #scroll>
              <ng-container
                *ngIf="
                  preview.social.length > 0 &&
                    formScheduling.get('image').value != '';
                  else noPost
                "
              >
                <div class="ui-scroll-item" *ngFor="let post of preview.social">
                  <app-instagram
                    *ngIf="post.name == 'Instagram'"
                  ></app-instagram>
                  <app-linkedin *ngIf="post.name == 'Linkedin'"></app-linkedin>
                </div>
              </ng-container>

              <ng-template #noPost>
                <div class="ui-post-none">
                  <label
                    >Aguardando conteúdo. Informe os canais e as mídias
                    desejadas para visualização.</label
                  >
                  <img src="./../assets/images/post-preview-none.png" alt="" />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ao clicar em agendar, deverá exibir uma caixa de alerta com a informação de sucesso para o usuário e redirecioná-lo para a tela de listagem de agendamento -->
  <div class="ui-modal ui-modal-center" tabindex="-1" id="modal">
    <div class="ui-modal-dialog">
      <div class="ui-modal-content">
        <div class="ui-modal-header"></div>
        <div class="ui-modal-body ui-modal-body-center">
          <img
            src="./../assets/images/Screenshot from 2020-09-11 13-17-02 1.png"
            alt=""
          />
          <span>Agendado com sucesso!</span>
        </div>
        <div class="ui-modal-footer">
          <button
            type="button"
            (click)="modalService.hide('#modal')"
            class="ui-button ui-button-primary ui-button-lg"
            routerLink="/agendamento/lista"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</app-container>
