<router-outlet>
  <div class="ui-avatar">
    <img src="./../assets/images/photo.png" alt="" class="ui-avatar-img" />
    <div class="ui-avatar__content">
      <span>Steve Jamerson</span>
      <small>Steve Jamerson</small>
    </div>
  </div>
  <br /><br />
  <button class="ui-button">button</button>
  <button class="ui-button ui-button-primary">button</button>
  <button class="ui-button ui-button-secondary">button</button>
  <button class="ui-button ui-button-primary-outline">button</button>
  <button class="ui-button ui-button-secondary-outline">button</button>
  <button class="ui-button ui-button-tertiary">button</button>
  <br /><br />
  <button class="ui-button ui-button-lg">button</button>
  <button class="ui-button ui-button-lg ui-button-primary">button</button>
  <button class="ui-button ui-button-lg ui-button-secondary">button</button>
  <button class="ui-button ui-button-lg ui-button-primary-outline">
    button
  </button>
  <button class="ui-button ui-button-lg ui-button-secondary-outline">
    button
  </button>
  <button class="ui-button ui-button-lg ui-button-tertiary">button</button>
  <br /><br />
  <button class="ui-button ui-button-sm">button</button>
  <button class="ui-button ui-button-sm ui-button-primary">button</button>
  <button class="ui-button ui-button-sm ui-button-secondary">button</button>
  <button class="ui-button ui-button-sm ui-button-primary-outline">
    button
  </button>
  <button class="ui-button ui-button-sm ui-button-secondary-outline">
    button
  </button>
  <button class="ui-button ui-button-sm ui-button-tertiary">button</button>
  <br /><br />
  <a>Link</a>
  <a class="link">Link</a>
  <span class="link">Link</span>
  <br /><br />
  <button class="ui-button-icon" disabled>
    <i class="fab fa-instagram"></i>
  </button>
  <button class="ui-button-icon ui-button-icon-lg" disabled>
    <i class="fab fa-linkedin-in"></i>
  </button>
  <br /><br />
  <button class="ui-button-icon"><i class="fab fa-instagram"></i></button>
  <button class="ui-button-icon ui-button-icon-lg">
    <i class="fab fa-linkedin-in"></i>
  </button>
  <br /><br />
  <button class="ui-button-icon ui-gradient-bg">
    <i class="fab fa-instagram"></i>
  </button>
  <button class="ui-button-icon ui-button-icon-lg ui-gradient-bg">
    <i class="fab fa-linkedin-in"></i>
  </button>
  <br /><br />
  <button class="ui-button-icon ui-brands-instagram-bg">
    <i class="fab fa-instagram"></i>
  </button>
  <button class="ui-button-icon ui-button-icon-lg ui-brands-linkedin-bg">
    <i class="fab fa-linkedin-in"></i>
  </button>
  <br /><br />
  <button class="ui-button-icon ui-brands-instagram-gradient">
    <i class="fab fa-instagram"></i>
  </button>
  <button class="ui-button-icon ui-button-icon-lg ui-brands-linkedin-gradient">
    <i class="fab fa-linkedin-in"></i>
  </button>
  <br /><br />
  <input type="text" class="ui-form" />
  <br />
  <div class="ui-form-icon">
    <input type="text" class="ui-form" />
    <i class="fas fa-times"></i>
  </div>
  <br /><br />
  <div class="ui-upload-image">
    <label for="upload-file" class="ui-upload-image__label">
      <i class="fas fa-cloud-upload-alt"></i>
      <span
        >{{
          image != ""
            ? image
            : "Arraste e solte uma imagem aqui ou clique no botão abaixo"
        }}
      </span>
      <button class="ui-button ui-button-primary-outline ui-button-sm">
        Pesquisar imagens
      </button>
    </label>
    <input type="file" accept="image/jpg,image/png" id="upload-file" />
  </div>
  <br /><br />
  <div class="ui-text-post">
    <textarea
      #text
      type="text"
      class="ui-form"
      placeholder="Aqui vai o texto descritivo desse post"
    ></textarea>
    <button class="ui-button" id="buttonEmoji">
      <i class="far fa-smile"></i>
    </button>
  </div>
  <br /><br />

  <p class="ui-status ui-status-positive">Postado</p>
  <p class="ui-status ui-status-success">Agendado</p>
  <p class="ui-status ui-status-warn">Postado com ressalvas</p>
  <p class="ui-status ui-status-alert">Não aprovado</p>
  <br /><br />
  <div class="ui-table-responsive">
    <table class="ui-table">
      <thead>
        <tr>
          <th scope="col">Redes sociais</th>
          <th scope="col">Mídia</th>
          <th scope="col">Texto</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <button class="ui-button-icon ui-brands-instagram-bg">
              <i class="fab fa-instagram"></i>
            </button>
            <button class="ui-button-icon ui-brands-linkedin-bg">
              <i class="fab fa-linkedin"></i>
            </button>
          </th>
          <td>
            <img src="./../assets/images/Rectangle 12.png" alt="" />
          </td>
          <td>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </td>
          <td><span class="ui-status ui-status-success"> Postado </span></td>
        </tr>
        <tr>
          <th scope="row">
            <button class="ui-button-icon ui-brands-instagram-bg">
              <i class="fab fa-instagram"></i>
            </button>
          </th>
          <td>
            <img src="./../assets/images/Rectangle 13.png" alt="" />
          </td>
          <td>Thornton</td>
          <td>
            <span class="ui-status ui-status-warn">
              Postado com ressalvas
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <button class="ui-button-icon ui-brands-linkedin-bg">
              <i class="fab fa-linkedin"></i>
            </button>
          </th>
          <td>
            <img src="./../assets/images/Rectangle 14.png" alt="" />
          </td>
          <td>the Bird</td>
          <td>
            <span class="ui-status ui-status-alert"> Não aprovado </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br /><br />
  <div class="ui-scroll">
    <div class="ui-scroll__content" #scroll>
      <div class="ui-scroll__item">
        <div style="height: 400px; width: 100%; background-color: aqua"></div>
      </div>
      <div class="ui-scroll__item">
        <div style="height: 400px; width: 100%; background-color: beige"></div>
      </div>
      <div class="ui-scroll__item">
        <div
          style="height: 400px; width: 100%; background-color: cornflowerblue"
        ></div>
      </div>
      <div class="ui-scroll__item">
        <div style="height: 400px; width: 100%; background-color: aqua"></div>
      </div>
      <div class="ui-scroll__item">
        <div style="height: 400px; width: 100%; background-color: beige"></div>
      </div>
      <div class="ui-scroll__item">
        <div
          style="height: 400px; width: 100%; background-color: cornflowerblue"
        ></div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="ui-header">
    <img src="./../assets/images/mlabs.png" alt="" />
    <div class="ui-avatar">
      <img src="./../assets/images/photo.png" alt="" class="ui-avatar-img" />
      <div class="ui-avatar__content">
        <span>Steve Jamerson</span>
        <small>Steve Jamerson</small>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="ui-footer">
    <button class="ui-button ui-button-tertiary">Footer</button>
    <button class="ui-button ui-button-primary-outline ui-button-lg">
      Footer
    </button>
    <button class="ui-button ui-button-primary ui-button-lg">Footer</button>
  </div>
  <br /><br />
  <div class="ui-card" id="">
    <div class="ui-card__header">
      <label for="">Card</label>
    </div>
    <div class="ui-card__body">
      <div class="ui-upload-image">
        <label for="upload-file" class="ui-upload-image__label">
          <i class="fas fa-cloud-upload-alt"></i>
          <span
            >{{
              image != ""
                ? image
                : "Arraste e solte uma imagem aqui ou clique no botão abaixo"
            }}
          </span>
          <button class="ui-button ui-button-primary-outline ui-button-sm">
            Pesquisar imagens
          </button>
        </label>
        <input type="file" accept="image/jpg,image/png" id="upload-file" />
      </div>
    </div>
  </div>
  <div class="ui-card" id="">
    <div class="ui-card__header">
      <label for="">Card</label>
    </div>
    <div class="ui-card__body">
      <div class="ui-text-post">
        <textarea
          #text
          type="text"
          class="ui-form"
          placeholder="Aqui vai o texto descritivo desse post"
        ></textarea>
        <button class="ui-button" id="buttonEmoji">
          <i class="far fa-smile"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="ui-card" id="">
    <div class="ui-card__header">
      <label for="">Card</label>
    </div>
    <div class="ui-card__body">
      <input type="date" class="ui-form">
      <input type="time" class="ui-form">
    </div>
  </div>

  <div class="ui-card" id="">
    <div class="ui-card__header">
      <label for="">Card</label>
    </div>
    <div class="ui-card__body ui-flex-direction-column ui-text-center">
      <label>Aguardando conteúdo. Informe os canais e as mídias desejadas para visualização.</label>
      <img src="./../assets/images/post-preview-none.png" alt="">
    </div>
  </div>

  <br><br>
  <div class="ui-modal" id="modal">
    <div class="ui-modal__content">
      <div class="ui-modal__header">
      </div>
      <div class="ui-modal__body">
        <img
          src="./../assets/images/Screenshot from 2020-09-11 13-17-02 1.png"
          alt=""
        />
        <span>Agendado com sucesso!</span>
      </div>
      <div class="ui-modal__footer">
        <button class="ui-button ui-button-primary ui-button-lg">OK</button>
      </div>
    </div>
  </div>
</router-outlet>
