<router-outlet>
  <div class="ui-avatar">
    <img src="./../assets/images/photo.png" alt="" class="ui-avatar-img">
    <div class="ui-avatar__content">
      <span>Steve Jamerson</span>
      <small>Steve Jamerson</small>
    </div>
  </div>
  <br><br>
  <button class="ui-button">button</button>
  <button class="ui-button ui-button-primary">button</button>
  <button class="ui-button ui-button-secondary">button</button>
  <button class="ui-button ui-button-primary-outline">button</button>
  <button class="ui-button ui-button-secondary-outline">button</button>
  <button class="ui-button ui-button-tertiary">button</button>
  <br><br>
  <button class="ui-button ui-button-lg">button</button>
  <button class="ui-button ui-button-lg ui-button-primary">button</button>
  <button class="ui-button ui-button-lg ui-button-secondary">button</button>
  <button class="ui-button ui-button-lg ui-button-primary-outline">button</button>
  <button class="ui-button ui-button-lg ui-button-secondary-outline">button</button>
  <button class="ui-button ui-button-lg ui-button-tertiary">button</button>
  <br><br>
  <button class="ui-button ui-button-sm">button</button>
  <button class="ui-button ui-button-sm ui-button-primary">button</button>
  <button class="ui-button ui-button-sm ui-button-secondary">button</button>
  <button class="ui-button ui-button-sm ui-button-primary-outline">button</button>
  <button class="ui-button ui-button-sm ui-button-secondary-outline">button</button>
  <button class="ui-button ui-button-sm ui-button-tertiary">button</button>
  <br><br>
  <a>Link</a>
  <a class="link">Link</a>
  <span class="link">Link</span>
  <br><br>
  <button class="ui-button-icon" disabled><i class="fab fa-instagram"></i></button>
  <button class="ui-button-icon ui-button-icon-lg" disabled><i class="fab fa-linkedin-in"></i></button>
  <br><br>
  <button class="ui-button-icon"><i class="fab fa-instagram"></i></button>
  <button class="ui-button-icon ui-button-icon-lg"><i class="fab fa-linkedin-in"></i></button>
  <br><br>
  <button class="ui-button-icon ui-gradient-bg"><i class="fab fa-instagram"></i></button>
  <button class="ui-button-icon ui-button-icon-lg ui-gradient-bg"><i class="fab fa-linkedin-in"></i></button>
  <br><br>
  <button class="ui-button-icon ui-brands-instagram-bg"><i class="fab fa-instagram"></i></button>
  <button class="ui-button-icon ui-button-icon-lg ui-brands-linkedin-bg"><i class="fab fa-linkedin-in"></i></button>
  <br><br>
  <button class="ui-button-icon ui-brands-instagram-gradient"><i class="fab fa-instagram"></i></button>
  <button class="ui-button-icon ui-button-icon-lg ui-brands-linkedin-gradient"><i class="fab fa-linkedin-in"></i></button>
  <br><br>
</router-outlet>
