@each $color, $value in $colors {
  .ui-text-#{$color} {
    color: $value;
  }
  .ui-bg-#{$color} {
    color: $value;
  }
}

@each $brands, $value in $brands-color {
  .ui-brands-#{$brands} {
    color: $value!important;
    border-color: $value!important;
    &-bg {
      border-color: $value!important;
      background-color: $value!important;
    }
    &-gradient {
      border-color: $value!important;
      background: map-get($brands-bg, $brands)!important;
    }
  }
}

@each $sinais, $value in $sinais-colors {
  .ui-sinais-#{$sinais} {
    color: $value;
    &-bg {
      background-color: $value;
    }
  }
}

.ui-gradient-bg {
  &:hover:not(:disabled) {
    background: color-adjust($orange, 13, 90, 150)!important;
    border: $border-width solid color-adjust($orange, -3, 6, -18)!important;
    color: color-adjust($orange, -3, 6, -18)!important;
  }
  &:active:not(:disabled), &.actived:not(:disabled) {
    border: $border-width solid color-adjust($orange, -3, 6, -18)!important;
    background: $icon-bg-gradient!important;
    color: $white!important;
  }
}

