.ui-bold { font-weight: bold; }
.ui-bold-none { font-weight: normal; }
.ui-italic { font-style: italic; }
.ui-italic-none { font-style: normal; }

.ui-text-align-left { text-align: left; }
.ui-text-align-center { text-align: center; }
.ui-text-align-right { text-align: right; }
.ui-text-align-justify { text-align: justify; }

.ui-underline { text-decoration: underline; }
.ui-strike { text-decoration: line-through; }
.ui-text-decoration-none { text-decoration: none; }

.ui-uppercase { text-transform: uppercase; }
.ui-capitalize { text-transform: capitalize; }
.ui-text-transform-none { text-transform: none; }
