.ui-button {
  display: inline-block;
  @include size(($bottom-width * 4), fit-content);
  line-height: $button-line-height;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  vertical-align: middle;
  user-select: none;
  color: $body-color;
  background-color: transparent;
  border: $border-width solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  &:disabled {
    background: $gray-200 !important;
    border-color: $gray-400 !important;
  }
  &-primary {
    background-color: $primary;
    border-color: $primary;
    color: color-contrast($primary);
  }
  &-secondary {
    background-color: $secondary;
    border-color: color-adjust($secondary, -18, -24, -30);
    color: $white;
  }
  &-tertiary {
    font-weight: $font-weight;
    color: $link-color;
    text-decoration: $link-decoration;
  }

  &-xs {
    line-height: $font-size * .75;
    min-width: 90px;
  }

  &-sm {
    height: $bottom-width * 3.6;
    min-width: 181px;
  }

  &-lg {
    height: $bottom-width * 4.5;
    min-width: 184px;
    @include breakpoints('sm') {
      height: $bottom-width * 3.6;
      min-width: 109px;
    }
  }
  &-full {
    width: 100%
  }

  &-icon{
    @include size($bottom-width * 3.3);
    display: inline-block;
    padding: 0;
    color: $gray-500;
    border: $border-width solid $gray-400;
    border-radius: 50%;
    font-size: $font-size;
    vertical-align: text-bottom;
    &-lg {
      @include size($bottom-width * 4);
      font-size: $font-size-lg;
    }
    &[class*="ui-brand"] {
      color: $white;
    }
  }

  @each $color,
  $value in $theme-colors {
    &-#{$color}-outline {
      background-color: $white;
      border-color: $value;
      color: $value;
    }
  }
}

[class*="ui-button"] {
  &+[class*="ui-button"] {
    margin-left: 15px;
  }
}
