.calendar {
  @include size(auto, 320px);
  font-size: $font-size;
  color: $blue-dark;
  background-color: $white;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .12);
  padding: 1rem;
  line-height: $text-line-height;
  text-align: center;
  &__header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-row-gap: 3rem;
    font-size: $font-size;
    & i[class*="left"] {
      grid-column: 1/2;
      cursor: pointer;
    }

    & label {
      grid-column: 3/6;
      margin: 0;
    }

    & i[class*="right"] {
      grid-column: 7/8;
      cursor: pointer;
    }
  }

  &__body {
    font-size: $font-size - 2px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
    justify-content: space-around;
    &__button {
      @include size(32px, 41px);
      line-height: 30px;
      display: block;
      position: relative;
      padding: 0;
      border: 0;
      background: transparent;
      cursor: pointer;
      &.active:not(:disabled), &.today:not(:disabled), &:hover:not(:disabled) {
        color: #0052CC;
        border: 3px solid #4C9AFF;
        border-radius: $border-radius;
        line-height: 25px;
        &::before {
          content: "";
          background: #0052CC;
          @include size(2px, 33px);
          top: 23px;
          margin: auto;
          position: relative;
          display: block;
        }
      }
      &.today:not(.active):not(:disabled) {
        border: 3px solid $orange-light;
        color: $orange-dark;
        &::before{
          background: $orange-dark;
        }
      }
      &:disabled{
        cursor: inherit;
      }
    }
  }
  &__footer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
