.ui-footer{
  @include size(67px, 100%);
  @extend %ui-flex-end;
  background: $white;
  padding: 10px 52px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $zindex-fixed;
  @include breakpoints('sm') {
    padding: 0 20px;
  }
  &.ui-sticky{
    position: sticky;
    z-index: $zindex-sticky;
  }
}
