//https://css-tricks.com/css-variables-calc-rgb-enforcing-high-contrast-colors/
//bootstrap
@function color-contrast($color, $dark: $text-dark, $light: $text-light) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  $result: (($red * 299) + ($green * 587) + ($blue * 114)) / 1000;
  @if ($result >= 150) {
    @return $text-dark;
  } @else {
    @return $text-light;
  }
}

//https://sass-lang.com/documentation/modules/color
@function color-adjust($color, $red, $green, $blue){
  @return adjust-color($color, $red: $red, $green: $green, $blue: $blue);
}
