.ui-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 80px;
  background: $white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1040;
  &__logo {
    display: none;
  }
  & .ui-avatar__content{
    display: none;
  }
  @include breakpoint-up('sm') {
    &__logo {
      display: block;
    }
    & .ui-avatar__content{
      display: block;
    }
    &__menu {
      display: none!important;
    }
  }
}

app-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1040;
}
