.ui-main {
  margin: auto 1rem;

  & .img-home {
    max-width: 460px;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
  }
}

.grid-agendamento {
  margin: 1rem;
  display: grid;
  grid-template: auto auto auto /1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: "redes data preview preview""post post preview preview""upload upload preview preview";

  @include breakpoints-max('xl') {
    grid-template: auto auto auto auto/1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "redes redes preview preview""data data preview preview""post post preview preview""upload upload preview preview";
  }

  @include breakpoints-max('lg') {
    display: block;
  }

  &__redes {
    grid-area: redes;
    width: fit-content;
  }
  &__data {
    grid-area: data;
    width: fit-content;
  }
  &__post {
    grid-area: post;
    width: fit-content;
  }
  &__upload {
    grid-area: upload;
    width: fit-content;
  }
  &__preview {
    grid-area: preview;
    width: fit-content;
    @include breakpoints('sm') {
      display: none !important;
    }
    &__button {
      display: none;
      @include breakpoints('sm') {
        display: block;
      }
    }
  }
}
