.ui-main {
  margin: auto;
  max-width: 1400px;
  @include breakpoint-down('lg') {
    margin: auto 1rem;
  }
  & .img-home {
    width: 460px;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
  }
  & .section-agendamento-lista {
    margin-top: 100px;
  }
}

.grid-agendamento {
  display: block;
  @include breakpoint-up('lg') {
    margin: 1rem;
    display: grid;
    grid-template: auto auto auto /1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "redes data preview preview""post post preview preview""upload upload preview preview";
  }

  &-redes {
    grid-area: redes;
    width: fit-content;
  }
  &-data {
    grid-area: data;
    width: fit-content;
  }
  &-post {
    grid-area: post;
    width: fit-content;
  }
  &-upload {
    grid-area: upload;
    width: fit-content;
  }
  &-preview {
    grid-area: preview;
    width: fit-content;
    display: block;
    @include breakpoint-down('md') {
      display: none!important;
    }
    &-button {
      display: block;
      @include breakpoint-up('md') {
        display: none;
      }
    }
  }
}
