.ui-main {
  margin: auto;
  max-width: 1360px;
  @include breakpoint-down('xl') {
    margin: auto 1rem;
  }
  & .img-home {
    width: 460px;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
  }
  & .section-agendamento-lista {
    margin-top: 100px;
    padding: $padding-size * 2;
  }
}

.grid-agendamento {
  display: block;
  @include breakpoint-up('md') {
    margin: 1rem;
    display: grid;
    grid-template: auto auto auto auto / 1fr 1fr 1fr;
    grid-gap: $theme-size * 3;
    grid-template-areas: "redes preview preview" "data preview preview" "upload preview preview""post post post";
  }
  @include breakpoint-up('xl') {
    margin: 1rem;
    display: grid;
    grid-template: auto auto auto /1fr 1fr 1fr 1fr;
    grid-gap: $theme-size * 3;
    grid-template-areas: "redes data preview preview""post post preview preview""upload upload preview preview";
  }

  &-redes {
    grid-area: redes;
    width: fit-content;
    min-width: 320px;
  }
  &-data {
    grid-area: data;
    width: fit-content;
    min-width: 320px;
    & .ui-card-body {
      align-items: center;
    }
  }
  &-post {
    grid-area: post;
    width: fit-content;
  }
  &-upload {
    grid-area: upload;
    width: fit-content;
  }
  &-preview {
    grid-area: preview;
    width: fit-content;
    display: none!important;
    @include breakpoint-up('md') {
      display: flex!important;
    }
    &-button {
      display: block;
      @include breakpoint-up('md') {
        display: none;
      }
    }
  }
}
