.ui-modal {
  @include size(100%);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal;
  overflow: hidden;

  &.show {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    animation: fade 1s forwards,
      slideUp 1s cubic-bezier(.3, 1, .3, 1.3) forwards;
  }

  &-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 0;
    background-color: rgba($black, .25);
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: auto;
    color: $gray-700;
    background-color: #FAFAFA;
    border: $border-width solid transparent;
    border-radius: $border-radius;

    @include breakpoint-down('md') {
      width: 100%;
    }

    &.ui-modal-auto {
      @include size(100%);
      margin: 0 !important;
    }
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $padding-size;
  }

  &-body {
    position: relative;
    padding: $padding-size;
    &-center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-size;
  }

  &-center {
    &.show{
      display: flex;
    }
    & .ui-modal-dialog {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      padding: $padding-size;
    }
  }

  &-scroll {
    @include breakpoint-up('md') {
      &.show {
        display: none;
      }
    }

    @include breakpoint-down('md') {
      .ui-modal-header {
        position: sticky;
        top: 0;
        z-index: $zindex-modal+1;
        background-color: $white;
        border-bottom: 1px solid $gray-200;
      }

      .ui-modal-body {
        background: $white;
      }
    }
  }
}

@keyframes slideUp {
  from {
    transform: translate3d(0px, 100px, 0px);
    opacity: 0;
  }

  to {
    transform: translate3d(0px);
    opacity: 1;
  }
}
