app-posts {
  display: contents;
}

.ui-post {
  @extend .ui-card;
  &-body {
    @extend .ui-card-body;
    & span {
      padding: .5rem 1rem;
    }
  }
  &-header {
    @extend .ui-card-header;
    border-bottom: 0 !important;
  }
  &-footer {
    @extend .ui-card-footer;
    border-top: 0 !important;
  }
  &-instagram {
    .ui-post-body {
      flex-direction: column;
      justify-content: center;
      padding: 0;
    }
    & i:not([class*="fab"]) {
      font-size: 22px;
      &:last-of-type {
        float: right;
      }
      &+i {
        margin-left: 18px;
      }
    }
    & .ui-post-body {
      flex-direction: column;
      padding: 0;
    }
    & span {
      display: block;
      width: 100%;
    }
  }
  &-linkedin {
    .ui-post-body {
      flex-direction: column;
      justify-content: center;
      padding: 0;
    }
    i:not([class*="fab"]) {
      font-size: 16px;
      padding: .5rem;

      &.fa-reply {
        transform: rotateY(180deg);
      }
    }
    .ui-post-footer {
      padding: 0;
      &>small {
        display: block;
        width: 100%;
        border-bottom: 1px solid $gray-200;
        padding: .5rem;
      }
    }
  }

  &-none {
    @extend %ui-flex-center-column;
    text-align: center;
    color: $gray-700;
    width: 100%;
  }
}
