*,
*::before,
*::after {
  box-sizing:border-box;
  outline: none!important;
}

html {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: $font-size;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

p, label {
  margin-top: 0;
  margin-bottom: .5rem;
}

a, .link {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent;
  &:hover {
    color: $link-color--hover;
    text-decoration: $link-decoration--hover;
  }
  &:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
    &:hover{
      color: inherit;
      text-decoration: none;
    }
  }
}

.link {
  text-decoration: $link-decoration--hover;
  cursor: default;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

select {
  word-wrap: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[hidden] {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

.ui-popper{
  display: none;
  z-index: 1000;
  &.show {
    display: block;
  }
}

.ui-row {
  width: 100%;
  height: 70px;
}

.ui-cel {
  width: 90px;
  height: 70px;
}
