.ui-scroll {
  @include size(auto, 100%);
  &__content {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    outline: none;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  &__item{
    flex: none;
    @include size(auto);
    pointer-events: none;
    margin-right: 20px;
    scroll-snap-align: start;
  }
}


// @media screen and (max-width: 772px) {
//   .ui-scroll {
//     // @extend %ui-absolute-total;

//     &__content {
//       flex-direction: column;
//       align-items: center;
//     }
//     &__item{
//       margin-right: auto;
//     }
//   }
// }
