.ui-scroll {
  @include size(auto, 100%);
  &-content {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    @include breakpoint-up('md') {
      overflow-x: hidden;
    }
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  &-item{
    flex: none;
    @include size(auto);
    pointer-events: none;
    margin-right: 20px;
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 800px) {
  .ui-modal-scroll.show {
    .ui-scroll {
      z-index: $zindex-modal;
      display: flex;
      overflow-y: auto;
      background: $white;
      -webkit-overflow-scrolling: touch;
      &-content {
        flex-direction: column;
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      &-item{
        margin: 1rem auto;
      }
    }
  }
}
