.ui-scroll {
  @include size(auto, 100%);
  &__content {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    outline: none;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  &__item{
    flex: none;
    @include size(auto);
    pointer-events: none;
    margin-right: 20px;
    scroll-snap-align: start;
  }
}


@media screen and (max-width: 600px) {
  .ui-scroll {
    z-index: $zindex-modal;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    overflow-y: auto;
    background: $white;
    -webkit-overflow-scrolling: touch;
    &__content {
      flex-direction: column;
      width: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    &__item{
      margin: 1rem auto;
    }
  }
}
