.ui-table {
  width: 100%;
  background-color: transparent;
  border: $border-width solid $gray-500;
  color: $body-color;
  overflow: auto;
  min-width: 772px;

  & thead {
    background-color: $white;

    & th {
      text-align: left;
      border-bottom-width: 2px;
      font-weight: $font-weight;
    }
  }

  & tbody {
    tr:nth-child(even) {
      background-color: $white;
    }

    tr:nth-child(odd) {
      background-color: #F2F2F2;
      ;
    }
  }

  & td,
  th {
    padding: 8px;
    vertical-align: middle;
    border: $border-width solid $gray-200;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
  }

  & td:last-child {
    text-align: left;
  }

  & td:nth-of-type(2) {
    white-space: pre-line;
    text-align: left;
  }
}

.ui-table-responsive {
  @include breakpoint-down('sm') {
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: block;
    width: 100%;
  }
}
