<div class="ui-post ui-post-linkedin">
  <div class="ui-post-header">
    <div class="ui-avatar">
      <button  type="button" class="ui-button-icon ui-brands-linkedin-bg">
        <i class="fab fa-linkedin"></i>
      </button>
      <div class="ui-avatar-content">
        <span>Steve Jamerson</span>
        <small>06 de Setembro</small>
      </div>
    </div>
  </div>
  <div class="ui-post-body ui-flex-direction-column">
    <span class="ui-post-footer-text"
      >Aqui vai o texto descritivo desse post</span
    >
    <img src="./../assets/images/post.png" alt="" />
  </div>
  <div class="ui-post-footer">
    <small class="ui-post-footer-label">5 comentários</small>
    <i class="far fa-thumbs-up"></i>
    <i class="far fa-comment-alt"></i>
    <i class="fas fa-reply"></i>
  </div>
</div>
